<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kuaishoupackaging">
    <!--开机启动-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--设备电源锁-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 向SDCard写入数据权限 -->

    <!-- 获取IMEI权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".base.MyAplicatin"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DbShowAct"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VolumeSetingAct"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingAct"
            android:screenOrientation="landscape" />

        <receiver android:name=".base.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <!-- 正式key@@@@@@@@@@@@@@@@@@@@-->
        <meta-data
            android:name="companyId"
            android:value="b8254759-295e-43c7-b4d1-0acb1f2a0c33" />
        <!-- 正式key@@@@@@@@@@@@@@@@@@@@-->
    </application>
    <!-- 测试key##################33-->
    <!--<application>-->
    <!--<meta-data-->
    <!--android:name="companyId"-->
    <!--android:value="d7a2b616-d2de-4ca5-8e67-679875bdb9f0"></meta-data>-->
    <!--</application>-->
    <!-- 测试key################-->

</manifest>